.placeholder {
  background-color: rgb(200,200,255);
  border: 2px solid rgb(50, 50, 100);
}

section {
  border: 1px dotted rgb(35, 95, 163);
  text-align:center;
}

section h2 {
  font-size: 10pt;
  text-transform: uppercase;
  color: #999;
}

section .ban {
  font-size: 20pt;
  color: rgb(35, 95, 163);
  font-weight: bold;
}

/*BASIC BODY STYLE*/

    body{
        border: 1px solid black;
        background-color: #fffdd0;
    }


    h1 {
    font-family: "Times New Roman" , "Arial" , Sans-Serif;
    color: #495388;
    padding: 10px;
    margin: 5px;
    }

    h2 {
    font-family: "Times New Roman" , "Arial" , Sans-Serif;
    color: #495388;
    padding: 10px;
    margin: 5px;
    }

    h3 {
    font-family: "Times New Roman" , "Arial" , Sans-Serif;
    font-size: Large;
    font-weight: Bold;
    color: #495388;
    padding: 10px;
    margin: 5px;
    }

    h4 {
    font-family: "Times New Roman" , "Arial" , Sans-Serif;
    color: #495388;
    padding: 10px;
    margin: 5px;
    }


/*ENHANCED BODY STYLE */

    nav {
        background: #ff8080;
        font-family: "Times New Roman" , "Arial" , Sans-Serif;
        padding: 10px;
        border: 1px solid black;

    }

    a{
        padding: 10px;
        color: #495388;
        font-family: "Times New Roman" , "Arial" , Sans-Serif;
        border: 1px;
        margin-right: 5px;
    }

    hover{
        color: yellow;
    }

/*FORM STYLE*/
    form {
        padding: 20px;
    }

    input {
        margin: 3px;
    }

    #inputstyle {
        width: 250px;
        background-color: #ffd9b3;
    }

    }

    label {
        padding: 10px;
    }

    img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    }

    img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

    /**Table Sort css **/
    #taskTable > tbody > tr{
      border-left:  12px solid #eee;
      cursor: pointer;;
    }
#taskTable > tbody > tr.current_sprint {
  border-left: 12px solid rgb(35, 95, 163);
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}
