/*BASIC HEADER STYLE*/

    header {
    background: #495388;
    font-family: "Times New Roman" , "Arial" , Sans-Serif;
    font-size: xx-Large;
    font-weight: Bold;
    color: #FFFFFF;
    padding: 10px;
    border: 1px solid Black;
    }
